include AUTHORS
include Changelog
include INSTALL
include MANIFEST.in
include README
include TODO
recursive-include docs *
recursive-include djintegration *
recursive-include tests *
recursive-include djintegration/templates *
global-include *.html
global-exclude *.pyc
prune testproj