{% extends "djintegration/base.html" %}
{% load djintegration_tags %}
{% block body %}
<h1>Fresh test reports</h1>

{% for repo in repos %}
<div class="repository {% if repo.fail %}fail{% else %}pass{% endif%}">
        <h2><a href="{% url repository repo.id %}">{{ repo.name }}</a></h2>
        <table>
        <!--<tr><td>Last known commit</td><td>{{ repo.last_commit }}</td></tr>-->
        <tr><td>Url</td><td>{{ repo.url }}</td></tr>
        <tr><td>Commit</td><td>{{ repo.last_test_report.commit }}</td></tr>
        <tr><td>Last run</td><td>{{ repo.last_test_report.creation_date|date_diff }}</td></tr>
        <tr><td>Author</td><td>{{ repo.last_test_report.author }}</td></tr>
        <tr><td>Coverage</td><td>
        {% if repo.has_coverage %}
            <a href="{% url serve-integration-dir repo.coverage_url %}">Show the report</a>
        {% else %}
            No coverage directory found
        {% endif %}
        </td></tr>
        </table>



        {% if repo.fail %}
        <h3>Install output</h3>
        <div class="report collapsed">
            <pre>{{ repo.last_test_report.install }}</pre>
        </div>
        {% endif %}
        <h3>Test output</h3>
        <div class="report collapsed">
            <pre>{{ repo.last_test_report.result }}</pre>
        </div>
</div>
{% endfor %}


<script>
    $(function(){
        $('.report').click(function() {
            $(this).toggleClass('collapsed');
            return false;
        });
    });
</script>

</body>
<html>
{% endblock %}
